<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>home0301</h1>

<table border="1" th:object="${member}">

    <tr>
        <td>*{userId}</td>
        <td th:text="*{userId}">userId</td>
    </tr>
    <tr>
        <td>*{password}</td>
        <td th:text="*{password}">password</td>
    </tr>
    <tr>
        <td>*{userName}</td>
        <td th:text="*{userName}">userName</td>
    </tr>
    <tr>
        <td>*{email}</td>
        <td th:text="*{email}">email</td>
    </tr>
    <tr>
        <td>*{dateOfBirth}</td>
        <td th:text="*{dateOfBirth}">dateOfBirth</td>
    </tr>

</table>
</body>
</html>