<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
</head>
<body>
<h3>result</h3>

    <div th:text="'member.userId : ' + ${member.userId}" >member.userId : ${member.userId}</div>
    <div th:text="'member.password : ' +${member.password}">member.password : ${member.password}</div>
    <div th:text="'member.userName : ' +${member.userName} ">member.userName : ${member.userName}</div>
    <div th:text="'member.email : ' +${member.email} ">member.email : ${member.email}</div>
</body>
</html>