<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>register Form</h1>

<a th:href="@{registerByGet01?userId=leejunsu&dateOfBirth=1234}">registerByGet01?userId=leejunsu&dateOfBirth=1234</a> <br>
<a th:href="@{registerByGet01?userId=leejunsu&dateOfBirth=2021-08-08}">registerByGet01?userId=leejunsu&dateOfBirth=2021-08-08</a> <br>
<a th:href="@{registerByGet01?userId=leejunsu&dateOfBirth=20210808}">registerByGet01?userId=leejunsu&dateOfBirth=20210808</a> <br>
<a th:href="@{registerByGet01?userId=leejunsu&dateOfBirth=2021/08/08}">registerByGet01?userId=leejunsu&dateOfBirth=2021/08/08</a> <br>
<a th:href="@{registerByGet02?userId=leejunsu&dateOfBirth=20210808}">registerByGet02?userId=leejunsu&dateOfBirth=20210808</a> <br>


<form th:action="@{/register}" method="post">
    userId : <input type="text" name="userId" value="leejunsu1"> <br>
    password : <input type="text" name="password" value="1q2w3e"> <br>
    dateOfBirth : <input type="text" name="dateOfBirth" value="20210824"> <br>
    <input type="submit" value="register">
</form>









<!--<form th:action="@{/register01}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu1"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="111"> <br>-->
<!--    <input type="submit" value="register01">-->
<!--</form>-->

<!--<form th:action="@{/register02}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu1"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="111"> <br>-->
<!--    <input type="submit" value="register02">-->
<!--</form>-->

<!--<form th:action="@{/register03}" method="post">-->
<!--    uid : <input type="text" name="uid" value="50"> <br>-->
<!--    userId : <input type="text" name="userId" value="leejunsu1"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="111"> <br>-->
<!--    <input type="submit" value="register03">-->
<!--</form>-->












<!--<a th:href="@{register/leejunsu}">register/leejunsu</a> <br>-->
<!--<a th:href="@{register/leejunsu/777}">register/leejunsu/777</a> <br>-->


<!--<form th:action="@{/register01}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu1"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="111"> <br>-->
<!--    <input type="submit" value="register01">-->
<!--</form>-->

<!--<form th:action="@{/register0201}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu2"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="222"> <br>-->
<!--    <input type="submit" value="register0201">-->
<!--</form>-->

<!--<form th:action="@{/register0202}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu3"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="333"> <br>-->
<!--    <input type="submit" value="register0202">-->
<!--</form>-->

<!--<form th:action="@{/register0301}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu4"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="444"> <br>-->
<!--    <input type="submit" value="register0301">-->
<!--</form>-->

<!--<form th:action="@{/register0302}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu4"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="555"> <br>-->
<!--    <input type="submit" value="register0302">-->
<!--</form>-->








<!--<a th:href="@{register?userId=leejunsu&password=1234}">register?userId=leejunsu&password=1234</a> <br>-->
<!--<a th:href="@{register/leejunsu}">register/leejunsu2</a> <br>-->

<!--<form th:action="@{/register01}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu1"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="111"> <br>-->
<!--    <input type="submit" value="register01">-->
<!--</form>-->

<!--<form th:action="@{/register02}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu2"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="222"> <br>-->
<!--    <input type="submit" value="register02">-->
<!--</form>-->

<!--<form th:action="@{/register03}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu3"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="333"> <br>-->
<!--    <input type="submit" value="register03">-->
<!--</form>-->

<!--<form th:action="@{/register04}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu4"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="444"> <br>-->
<!--    <input type="submit" value="register04">-->
<!--</form>-->

<!--<form th:action="@{/register05}" method="post">-->
<!--    userId : <input type="text" name="userId" value="leejunsu4"> <br>-->
<!--    password : <input type="text" name="password" value="1q2w3e"> <br>-->
<!--    coin : <input type="text" name="coin" value="555"> <br>-->
<!--    <input type="submit" value="register05">-->
<!--</form>-->

</body>
</html>